# Initial exploration of the data

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("./data/auto_mpg.csv",
                 header=0,
                 names = ['MPG', 'Cylinders', 'Displacement', 'Horsepower','Weight',\
                          'Acceleration', 'Model Year', 'Origin'])

df.head(10)

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,India
1,15.0,8,350.0,165.0,3693.0,11.5,70,India
2,18.0,8,318.0,150.0,3436.0,11.0,70,India
3,16.0,8,304.0,150.0,3433.0,12.0,70,India
4,17.0,8,302.0,140.0,3449.0,10.5,70,India
5,15.0,8,429.0,198.0,4341.0,10.0,70,India
6,14.0,8,454.0,220.0,4354.0,9.0,70,India
7,14.0,8,440.0,215.0,4312.0,8.5,70,India
8,14.0,8,455.0,225.0,4425.0,10.0,70,India
9,15.0,8,390.0,190.0,3850.0,8.5,70,India

## Initial exploration of data